<div>
	<div class="tabs">
		<div class="swiper-wrapper">
			<!--First Tab-->
			<div id="paient_details_tab" class="tab-one tab swiper-slide">
				<span>Patient Details</span>
				<!-- <a class="lin" href="#/reports" data-role="button" data-theme="a" data-mini="true">Show Items</a> -->
			</div>

			<!--Second Tab-->
			<div id="reports_tab" class="tab-two tab swiper-slide">
				<span>Reports</span>
			</div>

			<!--Third Tab-->
			<div id="settings_tab" class="tab-three tab swiper-slide">
				<span>Settings</span>
			</div>
		</div>
	</div>

	<div class="swiper-container">
		<div class="pagination" id="pagination"></div>

		<div class="swiper-wrapper">
			<div id="paient_details_blk" class="screen-one swiper-slide">
				Some Patient Details goes here</div>

			<div id="reports_blk" class="screen-two swiper-slide">Some
				Reports of the diabetes and BP goes here</div>

			<div id="settings_blk" class="screen-three swiper-slide">Some
				Settings to set user details and alarms goes here</div>
		</div>

	</div>
</div>