<div>
	<div class="tabs">
		<div class="pagination" id="pagination"></div>
		<div class="swiper-wrapper">
			<div id="paient_details_tab" class="tab-one tab swiper-slide">
				<span>Patient Details</span>
			</div>

			<div id="reports_tab" class="tab-two tab swiper-slide">
				<span>Reports</span>
			</div>

			<div id="settings_tab" class="tab-three tab swiper-slide">
				<span>Settings</span>
			</div>
		</div>
	</div>

	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div id="paient_details_blk" class="screen-one swiper-slide">
				Some Patient Details goes here</div>

			<div id="reports_blk" class="screen-two swiper-slide">Some
				Reports of the diabetes and BP goes here</div>

			<div id="settings_blk" class="screen-three swiper-slide">
				<div  data-role="collapsible-set" data-theme="b" data-inset="false">

					<div data-role="collapsible" data-collapsed="false">
					<h3>User Settings</h3>
					
					<div class="name_block user_sett_pad">
						<label for="name_field">Name: </label><input type="text" id="name_field" />
					</div>
					<div class="clear"></div>
					<div class="age_block user_sett_pad">
						<label for="age_field">Age: </label><input type="number" id="age_field"/>
					</div>
					<div class="clear"></div>
					<div class="sex_block user_sett_pad">
						<label for="sex_field">Sex: </label><input type="text" id="sex_field"/>
					</div>
					</div>
					<div class="clear"></div>
					<div data-role="collapsible">
					<h3>Alarm Settings</h3>
					<p>Some Alarm Settings Goes Here...</p>
					</div>
					
					<div data-role="collapsible">
					<h3>Notification Settings</h3>
					<p>Some Notification Settings Goes Here...</p>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>